//变量
@import './variables.scss';
//混入
@import './mixins.scss';

//element
@import './element.scss';

/*********************组件 Begin***************************/
//主体
@import './components/main.scss';
//主体-头部
@import './components/main-header.scss';
//主体-内容
@import './components/main-content.scss';
//主体-侧边栏
@import './components/main-sidebar.scss';

//切换皮肤
@import './components/skin-toggle.scss';

//容器
@import './components/container.scss';
//表单
@import './components/form.scss';
//抽屉
@import './components/drawer.scss';
//按钮
@import './components/button.scss';
//面板
@import './components/panel.scss';
//栅格面板
@import './components/panel-row.scss';
//小面板
@import './components/panel-small.scss';
//滚动条
@import './components/scrollbar.scss';
//图标
@import './components/icon.scss';
//菜单
@import './components/menu.scss';
//标签
@import './components/tabnav.scss';
//弹窗
@import './components/dialog.scss';
//窗口分割
@import './components/split.scss';
//标签页
@import './components/tabs.scss';
//标签
@import './components/label.scss';
//下拉
@import './components/select.scss';
//图标选择器
@import './components/icon-picker.scss';

//文件上传窗口
@import './components/upload-dialog.scss';
//单文件上传
@import './components/upload-single.scss';

//列表页
@import './components/list.scss';
//列表面板页
@import './components/list-panel.scss';

//详情页
@import './components/details.scss';

//flex
@import './components/flex.scss';
/*********************组件 End***************************/

/*********************公共 Begin***************************/
.em-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

/*背景颜色*/
.em-bg {
  &-info {
    background-color: $color-info !important;
  }

  &-primary {
    background-color: $color-primary !important;
  }

  &-success {
    background-color: $color-success !important;
  }

  &-warning {
    background-color: $color-warning !important;
  }

  &-danger {
    background-color: $color-danger !important;
  }
}

/*页*/
.page {
  height: 100% !important;
  box-sizing: border-box;
}

/*隐藏*/
.hidden {
  display: none;
}

