//重置element样式
.el-message {
  top: 200px;
  z-index: 99999 !important;
}

.el-icon--right {
  margin-left: 0;
}

//解决element-ui的table表格无法对齐的问题
body {
  .el-table {

    th.gutter,
    colgroup.gutter {
      display: table-cell !important;
    }
  }
}

.el-dropdown {
  span.el-dropdown-link {
    display: block;
    height: 100%;
  }
}

.el-dropdown-menu {
  .el-dropdown-menu__item {
    .el-checkbox {
      width: 100%;
    }
  }
}

.el-select,
.el-input__inner,
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-message {
  top: 5px;
}

.el-input-number {
  width: 100%;
}

@mixin input-icon($type, $top, $size, $padding) {
  .el-input#{$type} {

    .el-input__prefix,
    .el-input__suffix,
    .el-input-group__prepend,
    .el-input-group__append {
      .em-icon {
        position: relative;
        top: $top;
        font-size: $size;
      }
    }

    &.el-input--prefix {
      .el-input__inner {
        padding-left: $padding;
      }
    }

    &.el-input--suffix {
      .el-input__inner {
        padding-right: $padding;
      }
    }
  }
}

@include input-icon('', 1px, 26px, 34px);
@include input-icon('--medium', 4px, 22px, 30px);
@include input-icon('--small', 1px, 19px, 25px);
@include input-icon('--mini', 2px, 18px, 22px);

/********************* Tree **********************/
.el-tree {
  user-select: none;
}

/********************* Tabs **********************/
.el-tabs__item {
  .em-icon {
    position: relative;
    top: 2px;
    padding-right: 2px;
    font-size: 16px;
  }
}

.el-alert {
  margin-bottom: 10px !important;
}

.em-dialog {
  >.el-dialog {
    >.el-dialog__header {
      background-color: $dialog-header-background-color;
    }
  }
}

/********************* Form **********************/
.el-form-item {
  margin-bottom: 16px !important;
}

/********************* Table **********************/
// 滚动条的宽度
.el-table__body-wrapper::-webkit-scrollbar {
  width: 6px; // 横向滚动条
  height: 6px; // 纵向滚动条 必写
}

// 滚动条的滑块
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 3px;
}


.el-rate {
  display: inline-block;
  vertical-align: middle;
}