/***************************主题模式 Start*********************/
$theme-dark: #191a23; 
$theme-light: #ffffff; 
/***************************主题模式 End*********************/

/***************************主题颜色 Start*********************/
$theme1-color: #191a23; 
$theme2-color: #00a29a; 
$theme3-color: #2969ab; 
$theme4-color: #EB7347;
$theme5-color: #84AF9B ; 
$theme6-color: #20b7dd ;
$theme7-color: #D0D0D0; 
/***************************背景颜色 End*********************/

/***************************组件激活颜色 Start*********************/
$theme1-active-color: #e6a23c;
$theme2-active-color: #f2f6fc;
$theme3-active-color: #e6a23c; 
$theme4-active-color: #f2f6fc ;
$theme5-active-color: #f2f6fc ; 
$theme6-active-color: #f1ba67 ; 
/***************************组件激活颜色 End*********************/


/***************************组件激活背景颜色 Start*********************/
$theme1-active-background-color: #282828;
$theme2-active-background-color: #078d85; 
$theme3-active-background-color: #1a5ea5; 
$theme4-active-background-color: #e9602e ;
$theme5-active-background-color: #a9c8ba ; 
$theme6-active-background-color: #08a4cb ; 
/***************************组件激活背景颜色 End*********************/


