@import '../variables.scss';

.em-drawer {
  &>.em-drawer-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    z-index: $z-index-drawer-modal;
  }

  >.em-drawer-dialog {
    position: fixed;
    @include flex-column();
    top: 0;
    height: 100%;
    background: #fff;
    z-index: $z-index-drawer-dialog;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);

    >.em-drawer-header {
      @include flex-row();
      padding: 0 10px;
      @include vertical-center(40px);
      border-bottom: 1px solid $border-color1;
      box-sizing: border-box;

      >.em-drawer-header-icon {
        padding: 0 5px 0 0;
        width: 30px;
        font-size: 1.5rem;
        text-align: center;
        flex-shrink: 0;
      }

      >.em-drawer-header-title {
        flex-grow: 1;
        font-size: 16px;
        font-weight: 400;
      }

      >.em-drawer-header-toolbar {
        position: relative;
        flex-shrink: 0;

        .em-button {
          margin-left: 0;
          padding: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
          padding: 10px 7px;
          color: $text-color3;
          user-select: none;
          outline: none;
          transition: all 0.2s ease-in-out;
          font-size: 16px;
          width: 30px;
          height: 30px;

          &:hover {
            color: $text-color1;
            transform: scale(1.2);
          }

          .em-icon {
            transform: scale(1) !important;
          }
        }
      }
    }

    >.em-drawer-body {
      position: relative;
      padding: 0;
      flex-grow: 1;

      &>.em-drawer-body-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    >.em-drawer-footer {
      padding: 0 10px;
      flex-shrink: 0;
      @include vertical-center(50px);
      border-top: 1px solid $border-color1;
      text-align: right;
    }
  }

  &.small {
    .em-drawer-header {
      @include vertical-center(40px);
    }

    .em-drawer-footer {
      height: 40px;
      line-height: 37px;
    }
  }

  &.mini {
    .em-drawer-header {
      @include vertical-center(35px);
    }

    .em-drawer-footer {
      height: 35px;
      line-height: 32px;
    }
  }

  &.left {
    .em-drawer-dialog {
      left: 0;
    }
  }

  &.right {
    .em-drawer-dialog {
      right: 0;
    }
  }

  &.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: $z-index-panel-fullscreen;

    >.em-drawer-dialog {
      width: 100% !important;

      >.em-drawer-drag {
        display: none;
      }
    }
  }

  &.draggable {
    .em-drawer-header-title {
      user-select: none;
    }
  }

  &-drag {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;

    &-left {
      right: 0;
    }

    &-move-trigger {
      position: absolute;
      top: 50%;
      width: 8px;
      height: 100px;
      line-height: 100px;
      background: rgb(243, 243, 243);
      transform: translate(-50%, -50%);
      border-radius: 4px;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
      cursor: col-resize;

      &-point {
        display: inline-block;
        width: 50%;
        transform: translateX(50%);

        i {
          display: block;
          border-bottom: 1px solid rgb(192, 192, 192);
          padding-bottom: 2px;
        }
      }
    }
  }

  //过渡动画
  .move-right-enter-active,
  .moveR-leave-active {
    transition: all 0.3s linear;
    transform: translateX(0);
  }

  .move-right-enter,
  .move-right-leave {
    transform: translateX(100%);
  }

  .move-right-leave-to {
    transform: translateX(100%);
  }


  .move-left-enter-active,
  .move-left-leave-active {
    transition: all 0.3s linear;
    transform: translateX(0%);
  }

  .move-left-enter,
  .move-left-leave {
    transform: translateX(-100%);
  }

  .move-left-leave-to {
    transform: translateX(-100%);
  }
}