.em-flex {
    display: flex;
    align-items: stretch;

    &.column {
        flex-direction: column;

        &.top {
            .em-flex-top {
                flex-shrink: 0;
            }

            .em-flex-bottom {
                flex-grow: 1;
                overflow: hidden;
                box-sizing: border-box;
            }
        }

        &.bottom {
            .em-flex-top {
                flex-grow: 1;
                overflow: hidden;
                box-sizing: border-box;
            }

            .em-flex-bottom {
                flex-shrink: 0;
            }
        }
    }

    &.row {
        flex-direction: row;

        &.left {
            .em-flex-left {
                flex-shrink: 0;
            }

            .em-flex-right {
                flex-grow: 1;
                overflow: hidden;
                box-sizing: border-box;
            }
        }

        &.right {
            .em-flex-left {
                flex-grow: 1;
                overflow: hidden;
                box-sizing: border-box;
            }

            .em-flex-right {
                flex-shrink: 0;
            }
        }
    }
}