.em-list {
  box-shadow: $panel-shadow;
  @include flex-column();
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  border: 1px solid $border-color2;

  //头部
  &-header {
    padding: 0 5px;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    @include vertical-center(45px);
    box-sizing: border-box;
    border-bottom: 1px solid $border-color3;

    //工具栏
    &-toolbar {
      position: relative;
      flex-shrink: 0;
      margin-left: 15px;

      .em-button {
        margin-left: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 10px 7px;
        color: $text-color3;
        user-select: none;
        outline: none;
        transition: all 0.2s ease-in-out;
        font-size: 16px;
        width: 30px;
        height: 30px;

        &:hover {
          color: $text-color1;
          transform: scale(1.2);
        }
      }
    }

    &-button {
      padding-left: 10px;

      .em-button {
        padding: 7px 10px;
      }
    }
  }

  //图标
  &-icon {
    padding: 0 8px 0 3px;
    width: 30px;
    font-size: 1.5rem;
    text-align: center;
    flex-shrink: 0;

    .em-icon {
      margin-top: 6px;
      font-size: 18px;
      padding: 7px;
      border-radius: 17px;
    }
  }

  //标题
  &-title {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
  }

  //查询栏
  &-querybar {
    padding-top: 8px;
    display: flex;

    &-content {
      flex-grow: 1;


      >.el-form {
        padding: 10px;
        padding-bottom: 0 !important;
      }
    }

    &-btn {
      display: flex;
      width: 240px;
      height: 30px;
      margin-top: 12px;
    }

  }

  //操作栏
  &-operatebar {
    display: flex;
    padding: 12px;
    width: 100%;
    border-top: 1px solid $border-color3;
  }

  &-body {
    position: relative;
    flex-grow: 1;

    &-table {
      position: absolute;
      width: 100%;
      height: 100%;

      &-header {
        font-weight: 700;
        color: $list-table-header-color;
      }

      .el-table {
        border-left: 0;
        border-right: 0;
      }
    }
  }

  &-footer {
    padding: 4px 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    .el-dropdown {
      position: static;
    }

  }

  &.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: $z-index-query-fullscreen;
  }

  //选择列按钮样式
  &-select-column {
    margin-left: 10px;
    top: -6px;
    cursor: pointer;

    >span {
      display: inline-block;
      padding: 0 15px;
      border: 1px solid $border-color1;
      border-radius: 4px;
      color: $color;
      font-size: 13px;
      @include vertical-center(28px);
      box-sizing: border-box;

      &:focus {
        border-color: $color-primary;
      }
    }
  }

  //操作列
  &-operation {
    .el-button--text:not(.is-disabled) {
      &:hover {
        color: $color-warning;
      }
    }

    .el-dropdown {
      color: #409eff;
      cursor: pointer;

      &:hover {
        color: $color-warning;
      }
    }
  }

  &-operation-dropdown {
    .el-dropdown-menu__item {
      padding: 0;
    }

    .el-button {
      padding: 12px 20px;
      width: 100%;
      text-align: left;
    }
  }

  &-small {
    .em-list-toolbar {
      height: 40px;
      line-height: 37.8px;
    }
  }

  &-mini {
    .em-list-toolbar {
      height: 35px;
      line-height: 32.8px;
    }
  }
}