.em-main-sidebar {
  position: relative;
  @include flex-column();
  width: 220px;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  @include sidebar_bg_color();

  [data-theme-mode='dark'] &  {
    border-top: 1px solid rgba(230, 162, 60, 0.2);
  }


  &.collapse {
    width: 65px;

    .em-logo {
      &-text {
        display: none;
      }
    }
  }

  &-toggle-btn {
    flex-shrink: 0;
    background-color: #ebf1f6;
    box-sizing: border-box;
    margin: 0 2px;

    a {
      padding: 0 6px;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      font-size: 22px;
      text-align: center;
      background-color: #fff;
      color: #909090;
      cursor: pointer;
      text-decoration: none;
      box-sizing: border-box;
      border: 1px solid #dcdfe6;

      &:hover {
        color: #444;
      }
    }
  }

  &-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #f7920f;
    color: #f7920f;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .el-menu {
    width: 100%;
    height: 100%;
    @include sidebar_bg_color();

  }

  ul.el-menu--inline {
    width: 100%;
    @include sidebar_menu_bg_color();
  }

  .el-submenu {
    border-radius: 0 !important;
  }

  .el-menu--inline {
    background: #101117 !important;
  }

  .el-submenu__title {
    @include sidebar_title_color();

    border-radius: 2px !important;

    &:hover {
      @include active_color();
      @include active_bg_color();
    }

    span {
      font-size: 13px;
    }
  }

  .el-menu-item {
    @include sidebar_title_color();
    border-radius: 0 !important;

    &:hover {
      @include active_color();
      @include active_bg_color();
    }

    span {
      font-size: 13px;
    }
  }

  .el-menu-item.is-active {
    @include active_color();
    @include active_bg_color();
    font-weight: 700;
    border-left: 2px solid;

  }

  .em-icon {
    font-size: 18px !important;
    margin-right: 4px;
  }
}