/*
 * @Author: your name
 * @Date: 2021-04-22 00:57:19
 * @LastEditTime: 2021-04-30 01:54:13
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \easy-modular-ui\packages\styles\components\main.scss
 */
.em-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
}

