.em-main-header {
  position: relative;
  display: flex;
  height: 80px;
  @include bg_color();

  &-logo {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    padding-left: 8px;
    min-width:  220px;
    box-sizing: border-box;

    &-img {
      width: 40px;
      height: 40px;
    }

    &-text {
      flex-grow: 1;
      text-align: center;
      @include vertical-center(80px);
      font-size: 28px;
      color: #fff;
      white-space: nowrap;
      padding-left: 8px;
      letter-spacing: 2px;

      &-enterprise {
        font-size: 16px;
        color: #f7920f;
      }
    }
  }

  &-nav {
    display: flex;
    flex-grow: 1;
    margin: 0 24px;

    &-item {
      display: flex;
      flex-direction: column;
      padding: 0 12px;
      margin-right: 24px;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        border-bottom: 4px solid;
        @include active_border_color();
        @include active_bg_color();
        transition: all 0.25s ease-in-out;
      }
      &:hover {
        @include active_bg_color();
      }

      &-icon {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        color: #fff;
        .em-icon {
          margin-top: 10px;
        }
      }

      &-text {
        @include vertical-center(32px);
        text-align: center;
        color: #fff;
        font-size: 13px;
      }

      &:hover,
      &.active {
        a {
          color: #fff;
          @include active_bg_color();

          &::after {
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }

  &-toolbar {
    display: flex;
    height: 100%;
    align-items: center;
    &-search {
      width: 180px;
      margin-right: 24px;
      .el-input__inner {
        background-color: transparent;
      }
      .el-input__inner,
      .el-input__icon {
        height: 32px;
        line-height: 32px;
      }
    }
    &-item {
      cursor: pointer;
      padding: 0 3px;
      float: left;
      text-align: center;
      margin-right: 16px;
      &-icon {
        font-size: 30px;
        color: #fff;
      }

      &-text {
        display: block;
        margin-top: 5px;
        font-size: 10px;
        color: #fff;
      }
    }
  }
}
