.em-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;

  &.border {
    border: 1px solid $border-color2;
  }

  &-header {
    display: flex;
    align-items: center;
    @include vertical-center(46px);
    background-color: $panel-header-background-color;
    border-bottom: 1px solid $border-color2;
    box-sizing: border-box;

    &-icon {
      margin-left: 6px;
      margin-right: 4px;
      display: flex;
    }

    &-title {
      flex-grow: 1;
      font-size: 14px;
      font-weight: 500;
    }

    &-toolbar-before {
      flex-grow: 1;

    }

    &-toolbar {
      position: relative;
      flex-shrink: 0;
      margin-right: 8px;

      .em-button {
        margin-left: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $text-color3;
        user-select: none;
        outline: none;
        transition: all 0.1s ease-in-out;
        font-size: 16px;
        width: 30px;
        height: 30px;

        &:hover {
          @include color();
          background: rgba(25, 26, 35, 0.2);
          transform: scale(1.05);
        }
      }
    }
  }

  &-body {
    position: relative;
    @include flex-column();
    flex-grow: 1;
    background: #fff;
    overflow: hidden;

    >.em-panel-content {
      position: relative;
      padding: 8px;
      flex-grow: 1;
      box-sizing: border-box;
    }

    >.em-panel-footer {
      position: relative;
      padding: 4px 10px;
      @include flex-row();
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid $border-color3;
      box-sizing: border-box;

      &.left {
        text-align: left;
      }

      &.center {
        text-align: center;
      }

      &.right {
        text-align: right;
      }

      .el-button--success {
        color: #fff;
        @include bg_color();
        border-color: #dcdfe6 !important;
      }
    }
  }

  &.has-height {
    >.em-panel-body {
      >.em-panel-content {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 100%;

        .em-panel-wrapper {
          height: 100%;

          >.em-scrollbar {
            >.el-scrollbar__wrap {
              padding-left: 8px;
              padding-right: 8px;

              >.el-scrollbar__view {
                //  height: auto; 
              }
            }
          }
        }
      }
    }
  }

  &.page {
    height: 100%;

    >.em-panel-body {
      padding: 0;

      >.em-panel-content {
        padding: 0;

        >.em-panel-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;

          .el-scrollbar__view {
            padding: 8px;
            box-sizing: border-box;
            height: 100%;
          }
        }
      }
    }
  }


  &.no-padding {
    >.em-panel-body {
      >.em-panel-content {
        >.em-panel-wrapper {
          >.em-scrollbar {
            >.el-scrollbar__wrap {
              >.el-scrollbar__view {
                padding: 0 !important;
              }
            }
          }

        }
      }
    }
  }

  &.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: $z-index-panel-fullscreen;
  }

  &.title-bold {
    .em-panel-header-title {
      font-weight: 600;
    }
  }

  &.no-height {
    height: 0 !important;
  }
}