.em-panel-small {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 132px;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;

  &-title {
    display: flex;
    align-items: center;

    &-icon {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background: rgba(220, 223, 230, 0.25);
      transition: all 0.5s ease-in;
      font-size: 24px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .em-icon {
        color: #ffffff;
      }
    }

    &-label {
      margin-left: 8px;
      font-size: 16px;
    }
  }

  &-value {
    font-size: 32px;
    margin-left: 6px;
    margin-top: 12px;
  }

  &-bg-icon {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 64px;
    color: rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-in;
  }

  &-more {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.15);
    font-size: 13px;
    transition: all 0.2s ease-in;
    border: 0 !important;


    &:hover {
      background: rgba(0, 0, 0, 0.25);
      color: #fff;
    }
  }

  &:hover {
    .em-panel-small-bg-icon {
      transform: scale(1.2);
    }

    .em-panel-small-title-icon {
      transform: rotate(-360deg)
    }

    .em-panel-small-more {
      display: block;
    }
  }

  &.success {
    background: linear-gradient(60deg, #3ef396, #07c160);
  }

  &.primary {
    background: linear-gradient(60deg, #55a6f8, #1989fa);
  }

  &.warning {
    background: linear-gradient(60deg, #f8bd65, #ff9900);
  }

  &.danger {
    background: linear-gradient(60deg, #faa8a8, #f56c6c);
  }

  &.info {
    background: linear-gradient(60deg, #d6d8db, #909399);
  }

  &.blue {
    background: linear-gradient(60deg, #3dd5e9, #00acc1);
  }

}