.em-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: $panel-shadow;

  &.border {
    border: 1px solid $border-color2;
  }

  &-header {
    display: flex;
    align-items: center;
    @include vertical-center(46px);
    background-color: $panel-header-background-color;
    border-bottom: 1px solid $border-color2;
    box-sizing: border-box;

    &-icon {
      margin-left: 6px;
      margin-right: 4px;
      display: flex;
    }

    &-title {
      flex-grow: 1;
      font-size: 14px;
      font-weight: 500;
    }

    &-toolbar-before {
      flex-grow: 1;
     
    }

    &-toolbar {
      position: relative;
      flex-shrink: 0;
      margin-right: 8px;
      .em-button {
        margin-left: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $text-color3;
        user-select: none;
        outline: none;
        transition: all 0.1s ease-in-out;
        font-size: 16px;
        width: 30px;
        height: 30px;

        &:hover {
          @include color();
          @include active_bg_color();
          transform: scale(1.1);
        }
      }
    }
  }

  &-content {
    position: relative;
    flex-grow: 1;
    overflow:auto;
    background: #fff;
  }

  &-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px 10px;
    @include vertical-center(46px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid $border-color3;
    box-sizing: border-box;

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }

    .el-button--success {
      color: #fff;
      @include bg_color();
      border-color: #dcdfe6 !important;
    }
  }

  &.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: $z-index-panel-fullscreen;
  }

  &.title-bold {
    .em-panel-header-title {
      font-weight: 600;
    }
  }

  &.no-height {
    height: 0 !important;
  }
}