.em-select {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  &-item {
    margin-right: 20px;
  }

  &-input {
    flex-grow: 1;

    .el-select {
      width: 100%;
    }
  }

  &-button {
    flex-shrink: 0;
    padding-left: 3px;

    .em-button {
      padding-left: 10px;
      padding-right: 10px;

      .em-icon {
        padding: 0;
      }
    }
  }
}