.em-tabnav {
  width: 100%;
  @include flex-row();
  box-sizing: border-box;

  &-tabs {
    overflow-y: hidden;
    overflow-x: auto;
    flex-grow: 1;
    background: #f7f7f7;

    &-txt {
      font-size: 12px;
    }

    .el-tabs__header {
      border: none !important;
    }

    .el-tabs__nav {
      border: none !important;
      height: 32px;
      box-sizing: border-box
    }

    .el-tabs__item {
      @include vertical-center(32px);
      padding: 0 12px !important;
      background-color: #fff;
      border-radius: 2px;
      color: $text-color3;
      margin-right: 4px;
      border: 1px solid $border-color1 !important;
      box-sizing: border-box;
      font-size: 12px;

      &:first-child .el-icon-close {
        display: none !important;
      }

      &.is-active {
        color: #e6a23c !important;
        label {
          font-weight: bold;
        }

      }
    }

    .el-tabs__header {
      margin: 0 !important;
    }
  }

  &-control {
    flex-shrink: 0;

    &-btn {
      display: inline-block;
      width: 32px;
      text-align: center;
      @include vertical-center(32px);
      cursor: pointer;
      border: 1px solid $border-color1;
      font-size: 16px;
      box-sizing: border-box;
    }

    &-icon {
      margin-right: 10px;
      font-weight: bold;
    }
  }

  &-contextmenu {
    position: fixed;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 9999;

    li {
      list-style: none;
      line-height: 30px;
      padding: 0 15px;
      margin: 0;
      font-size: 13px;
      color: #606266;
      cursor: pointer;
      outline: none;

      &:first-child {
        border-bottom: 1px solid #ebeef5;
      }

      .em-icon {
        margin-right: 7px;
        font-size: 17px;
      }

      &:hover {
        background-color: #ecf5ff;
        color: #66b1ff;
      }
    }
  }

  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    line-height: 28px;
    color: #dcdfe6;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #dcdfe6;
  }

}